In [32]:
import pandas as pd
df =  pd.read_csv('../Data/train.csv',sep=',')
df.head()

,image_id,class_name,class_id,rad_id,x_min,y_min,x_max,y_max
0,50a418190bc3fb1ef1633bf9678929b3,No finding,14,R11,NaN,NaN,NaN,NaN
1,21a10246a5ec7af151081d0cd6d65dc9,No finding,14,R7,NaN,NaN,NaN,NaN
2,9a5094b2563a1ef3ff50dc5c7ff71345,Cardiomegaly,3,R10,691.0,1375.0,1653.0,1831.0
3,051132a778e61a86eb147c7c6f564dfe,Aortic enlargement,0,R10,1264.0,743.0,1611.0,1019.0
4,063319de25ce7edb9b1c6b8881290140,No finding,14,R10,NaN,NaN,NaN,NaN

In [33]:
class_name_counts = df['class_id'].value_counts()
print(class_name_counts)

class_id
14    31818
0      7162
3      5427
11     4842
13     4655
8      2580
7      2483
10     2476
9      2203
6      1247
5      1000
2       960
4       556
1       279
12      226
Name: count, dtype: int64

In [34]:
total_count = class_name_counts.sum()
class_name_ratios = class_name_counts / total_count
print(class_name_ratios)

class_id
14    0.468504
0     0.105457
3     0.079910
11    0.071296
13    0.068543
8     0.037989
7     0.036561
10    0.036458
9     0.032438
6     0.018361
5     0.014725
2     0.014136
4     0.008187
1     0.004108
12    0.003328
Name: count, dtype: float64

In [43]:
image_ids_by_classname = df.groupby('class_name')['image_id'].apply(list)
print(image_ids_by_classname)

image_ids_by_classname.to_csv('output.csv', header=True)

class_name
Aortic enlargement    [051132a778e61a86eb147c7c6f564dfe, d3637a1935a...
Atelectasis           [80caa435b6ab5edaff4a0a758ffaec6e, 8098d1ce056...
Calcification         [2e285b95faad220e17e6cbfbe514733e, db49c96665f...
Cardiomegaly          [9a5094b2563a1ef3ff50dc5c7ff71345, 0622cd29e4e...
Consolidation         [bd3fe876153eeddad8bab49b129ea081, 4b9ee23b2f1...
ILD                   [0c7a38f293d5f5e4846aa4ca6db4daf1, 0a14aeaf02d...
Infiltration          [d7aea6f37597df566725da73655edcc2, d77ef79ee45...
Lung Opacity          [7c1add6833d5f0102b0d3619a1682a64, be1bb194dfb...
No finding            [50a418190bc3fb1ef1633bf9678929b3, 21a10246a5e...
Nodule/Mass           [47ed17dcb2cbeec15182ed335a8b5a9e, 8e063eadea9...
Other lesion          [c394eadea89e5795c8037280492d116d, 8ae85268313...
Pleural effusion      [04bb8bd7ee6f88a16623fe5c6dd4da91, bd6eb525438...
Pleural thickening    [1c32170b4af4ce1a3030eb8167753b06, 34718036234...
Pneumothorax          [6e4391555899c8474c4d32f42b2ba21b, e3c5ff1eb0d...
Pulmonary fibrosis    [afb6230703512afc370f236e8fe98806, 18a61a07e6f...
Name: image_id, dtype: object